@font-face {
  font-display: swap;
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/dm-serif-display-v15-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/public-sans-v15-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/public-sans-v15-latin-700.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "DM Serif Display";
  font-family: "Public Sans";
  background-color: #EDF3F8;
  background-image: url(../../images/hero-bg-img.png);
  background-repeat: no-repeat;
  background-size: 640px 608px;
  background-position: top right;
}

h1, h2, h3, h4 {
  font-family: "DM Serif Display";
}

@media (max-width: 900px) {
  body {
    background-image: url("../images/header-tablet-bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;
  }
}
@media (max-width: 718px) {
  body {
    background-image: url("../images/header-mobile-bg.png");
  }
}
.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-header {
  padding: 40px 0 74px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}

.header__link-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 64px;
}

.header__logo-link {
  display: inline-block;
}

.header__list {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 40px;
}

.header__item-link {
  font-size: 15px;
  font-weight: 700;
  line-height: 17px;
  color: #36536B;
  text-transform: unset;
  margin-bottom: 0px;
  transition: all 0.3s linear;
  opacity: 0.7;
}
.header__item-link:hover {
  opacity: 1;
}

.header__btn {
  width: 173px;
  padding: 15px;
  background-color: #BA4270;
  border-radius: 26px;
  border: 1px solid transparent;
  transition: all 0.3s linear;
  font-size: 15px;
  font-weight: 700;
  line-height: 17px;
  color: #FBFCFE;
  cursor: pointer;
  text-transform: unset;
  text-align: center;
}
.header__btn:hover {
  opacity: 0.7;
}
.header__btn:hover {
  opacity: 0.6;
}

.header__hamburger-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
}

.header__modal {
  padding: 24px;
  position: fixed;
  top: 0;
  right: -100%;
  width: 80%;
  height: 100vh;
  background-color: #1B262F;
  z-index: 50;
  transition: all 0.3s linear;
}

.show {
  right: 0;
}

.close__top-wrapper {
  padding: 24px 0;
  border-bottom: 1px solid white;
  text-align: right;
}

.close__bg-btn {
  background-color: transparent;
  border: none;
}

.close__list {
  padding: 32px 0 43px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 32px;
  flex-direction: column;
}

.close__link {
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  color: rgb(251, 252, 254);
  text-transform: unset;
  margin-bottom: 0px;
  transition: all 0.3s linear;
  opacity: 0.7;
}
.close__link:hover {
  opacity: 1;
}

.close__link-btn {
  display: inline-block;
  width: 100%;
  padding: 15px;
  background-color: #BA4270;
  border-radius: 26px;
  border: 1px solid transparent;
  transition: all 0.3s linear;
  font-size: 15px;
  font-weight: 700;
  line-height: 17px;
  color: #FBFCFE;
  cursor: pointer;
  text-transform: unset;
  text-align: center;
}
.close__link-btn:hover {
  opacity: 0.7;
}
.close__link-btn:hover {
  opacity: 0.6;
}

@media (max-width: 900px) {
  .site-header {
    padding: 40px 0 48px;
  }
  .header__logo-img {
    width: 153px;
    height: 38px;
  }
}
@media (max-width: 718px) {
  .site-header {
    padding: 40px 0 32px;
  }
  .header__list, .header__btn {
    display: none;
  }
  .header__hamburger-btn {
    display: block;
  }
}
.hero-section {
  padding-bottom: 75px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 206px;
}

.hero__content-wrapper {
  width: 546px;
}

.hero__title {
  font-size: 72px;
  font-weight: 400;
  line-height: 72px;
  color: #36536B;
  text-transform: inherit;
  margin-bottom: 21px;
  transition: all 0.3s linear;
}

.hero__form {
  width: 445px;
  margin-bottom: 16px;
}

.form__label {
  width: 100%;
  position: relative;
}

.form__input {
  width: 100%;
  padding: 15px 180px 15px 27px;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.2509803922);
  border-radius: 24px;
  outline: none;
  border: none;
  font-size: 15px;
  font-weight: 700;
  line-height: 17px;
  color: #36536B;
  text-transform: inherit;
  margin-bottom: 0px;
  transition: all 0.3s linear;
}
.form__input::-moz-placeholder {
  opacity: 70%;
}
.form__input::placeholder {
  opacity: 70%;
}
.form__input:focus {
  box-shadow: 0 0 5px 1px rgba(54, 83, 107, 0.2509803922);
}

.form__btn {
  position: absolute;
  right: 0;
  width: 173px;
  padding: 14px;
  background-color: #BA4270;
  border-radius: 26px;
  border: 1px solid transparent;
  transition: all 0.3s linear;
  font-size: 15px;
  font-weight: 700;
  line-height: 17px;
  color: #FBFCFE;
  cursor: pointer;
  text-transform: unset;
  text-align: center;
}
.form__btn:hover {
  opacity: 0.7;
}

.hero__bottom-text {
  margin-left: 27px;
  font-size: 15px;
  font-weight: 400;
  line-height: 17px;
  color: #6C8294;
  text-transform: inherit;
  margin-bottom: 0px;
  transition: all 0.3s linear;
}

.hero__bottom-text-link {
  margin-left: 0;
  font-size: 15px;
  font-weight: 700;
  line-height: 17px;
  color: #6C8294;
  text-transform: inherit;
  margin-bottom: 0px;
  transition: all 0.3s linear;
}

@media (max-width: 936px) {
  .hero {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 206px;
  }
}
@media (max-width: 855px) {
  .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 48px;
    flex-direction: column-reverse;
    text-align: center;
  }
  .hero__img {
    width: 159px;
    height: 300px;
  }
  .hero__content-wrapper {
    width: 90%;
  }
  .hero__title {
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    color: #36536B;
    text-transform: inherit;
    margin-bottom: 22px;
    transition: all 0.3s linear;
  }
  .hero__form {
    margin: 0 auto;
    margin-bottom: 16px;
  }
}
@media (max-width: 583px) {
  .hero-section {
    padding-bottom: 80px;
  }
  .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
  }
  .hero__img {
    width: 127px;
    height: 239px;
  }
  .hero__content-wrapper {
    width: 100%;
  }
  .hero__title {
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    color: #36536B;
    text-transform: inherit;
    margin-bottom: 24px;
    transition: all 0.3s linear;
  }
  .hero__form {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 16px;
  }
  .form__label {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 16px;
    flex-direction: column;
  }
  .form__input {
    padding-right: 5px;
  }
  .form__btn {
    position: static;
    width: 100%;
    padding: 14px;
    background-color: #BA4270;
    border-radius: 26px;
    border: 1px solid transparent;
    transition: all 0.3s linear;
    font-size: 15px;
    font-weight: 700;
    line-height: 17px;
    color: #FBFCFE;
    cursor: pointer;
    text-transform: unset;
    text-align: center;
  }
  .form__btn:hover {
    opacity: 0.7;
  }
}
.work-section {
  padding: 100px 0;
  background-color: #1B262F;
  background-image: url(../../images/work-section-bg.png);
  background-repeat: no-repeat;
  background-size: 545px 421px;
  background-position: left top;
}

.work {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}

.work__content-wrapper {
  width: 445px;
}

.work__content-title {
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  color: white;
  text-transform: inherit;
  margin-bottom: 24px;
  transition: all 0.3s linear;
}

.work__content-text {
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  color: rgba(251, 252, 254, 0.5);
  text-transform: inherit;
  margin-bottom: 32px;
  transition: all 0.3s linear;
}

.work__content-btn {
  display: inline-block;
  width: 129px;
  padding: 15px;
  background-color: #1B262F;
  border-radius: 26px;
  border: 1px solid white;
  transition: all 0.3s linear;
  font-size: 15px;
  font-weight: 700;
  line-height: 17px;
  color: white;
  cursor: pointer;
  text-transform: unset;
  text-align: center;
}
.work__content-btn:hover {
  opacity: 0.7;
}
.work__content-btn:hover {
  background-color: rgb(255, 255, 255);
  color: #1B262F;
}

.work__link-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 55px;
  max-width: 536px;
  flex-wrap: wrap;
}

.work__link {
  display: inline-block;
  margin: 0 auto;
}

@media (max-width: 1030px) {
  .work-section {
    padding: 88px 0;
    background-image: url(../../images/work-tablet-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;
  }
  .work {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 64px;
    flex-direction: column-reverse;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .work-section {
    padding: 80px 0;
  }
  .work__link-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 25px;
    text-align: center;
    width: 100%;
  }
  .work__link {
    display: inline-block;
  }
  .work__content-wrapper {
    max-width: 100%;
  }
  .work__content-title {
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    color: white;
    text-transform: inherit;
    margin-bottom: 16px;
    transition: all 0.3s linear;
  }
  .work__content-text {
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    color: rgba(251, 252, 254, 0.5);
    text-transform: inherit;
    margin-bottom: 60px;
    transition: all 0.3s linear;
  }
  .work__content-btn {
    max-width: 128px;
  }
}
.easy-section {
  padding: 150px 0 0 0;
  background-image: url(../../images/easy-section-bg.png);
  background-repeat: no-repeat;
  background-size: 390px 780px;
  background-position: calc(50% + 500px) bottom;
}

.easy__first-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 125px;
}

.easy__content {
  width: 445px;
}

.easy__title {
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  color: #36536B;
  text-transform: inherit;
  margin-bottom: 24px;
  transition: all 0.3s linear;
}

.easy__text {
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  color: rgb(108, 130, 148);
  text-transform: inherit;
  margin-bottom: 0px;
  transition: all 0.3s linear;
}

.easy__second-box {
  padding: 150px 0 140px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 95px;
}

.easy__images {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 40px;
}

@media (max-width: 1000px) {
  .easy-section {
    padding: 100px 0 0 0;
  }
  .easy__first-box {
    flex-direction: column;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 48px;
  }
  .easy__first-box-img {
    max-width: 100%;
    height: 250px;
  }
  .easy__content {
    max-width: 100%;
  }
  .easy__second-box {
    padding: 100px 0 100px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 48px;
    flex-direction: column-reverse;
    text-align: center;
  }
  .easy__second-box-img {
    width: 168px;
    height: 320px;
  }
}
@media (max-width: 610px) {
  .easy-section {
    padding: 80px 0 0 0;
  }
  .easy__first-box {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 48px;
  }
  .easy__first-box-img {
    width: 100%;
    height: 209px;
  }
  .easy__title {
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    color: #36536B;
    text-transform: inherit;
    margin-bottom: 24px;
    transition: all 0.3s linear;
  }
  .easy__second-box {
    padding: 80px 0 80px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 48px;
    flex-direction: column-reverse;
    text-align: center;
  }
  .easy__images {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
  }
  .easy__second-box-img {
    max-width: 100%;
    height: 290px;
  }
}
.ready-section {
  padding: 6px 0 100px;
}

.ready {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 96px;
  flex-direction: column;
}

.ready__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin: auto 0;
}

.ready__item {
  max-width: 350px;
  text-align: center;
}

.ready__item-img {
  display: block;
  margin-left: 115px;
  margin-bottom: 32px;
}

.ready__item-span {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  color: #36536B;
  text-transform: inherit;
  margin-bottom: 0px;
  transition: all 0.3s linear;
}

.ready__item-text {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  color: rgb(108, 130, 148);
  text-transform: inherit;
  margin-bottom: 0px;
  transition: all 0.3s linear;
  margin-top: 16px;
}

.ready__end-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 300px;
}

.ready__title {
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  color: #36536B;
  text-transform: inherit;
  margin-bottom: 0px;
  transition: all 0.3s linear;
}

@media (max-width: 1000px) {
  .ready__list {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 30px;
  }
  .ready__item {
    max-width: 223px;
  }
  .ready__item-img {
    display: block;
    margin-left: 60px;
    margin-bottom: 32px;
  }
  .ready__end-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    flex-direction: column;
  }
}
@media (max-width: 578px) {
  .ready__list {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 30px;
    flex-direction: column;
  }
  .ready__item {
    max-width: 223px;
  }
  .ready__item-img {
    display: block;
    margin-left: 60px;
    margin-bottom: 32px;
  }
  .ready__end-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    flex-direction: column;
  }
  .ready__title {
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    color: #36536B;
    text-transform: inherit;
    margin-bottom: 0px;
    transition: all 0.3s linear;
  }
}
.site-footer {
  padding: 31px 0;
  background-color: rgb(27, 38, 47);
  background-image: url(../../images/footer-bg.png);
  background-repeat: no-repeat;
  background-size: 390px 136px;
  background-position: right;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}

.footer__logo-link-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 64px;
}

.footer__list {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 40px;
}

.footer__item-link {
  font-size: 15px;
  font-weight: 700;
  line-height: 17px;
  color: rgb(251, 252, 254);
  text-transform: unset;
  margin-bottom: 0px;
  transition: all 0.3s linear;
  opacity: 0.7;
}
.footer__item-link:hover {
  opacity: 1;
}

.footer__link-wrapper {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 24px;
}

@media (max-width: 650px) {
  .site-footer {
    padding: 41px 55px;
    background-image: url(../../images/footer-mobile-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
  }
  .footer {
    flex-direction: column;
  }
  .footer__logo-link-wrapper {
    flex-direction: column;
    gap: 40px;
    margin-bottom: 40px;
  }
  .footer__list {
    flex-direction: column;
  }
}/*# sourceMappingURL=main.css.map */