*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    font-family: 'DM Serif Display';
    font-family: 'Public Sans';
    background-color: $color-bg;
    background-image: url(../../images/hero-bg-img.png);
    background-repeat: no-repeat;
    background-size: 640px 608px;
    background-position: top right;
}