.site-header {
    padding: 40px 0 74px;
}
.header {
    @include display($items:center, $space:space-between, $gap:0px);
}
.header__link-wrapper {
    @include display($items:center, $space:start, $gap:64px);
}
.header__logo-link {
    display: inline-block;
}
.header__list {
    @include display($items:center, $space:start, $gap:40px);
}
.header__item-link {
    @include  textStyle($FS:15px, $FW:700, $LH:17px, $CLR:$title-clr, $CASE:unset, $MB:0px);
    opacity: 0.7;
    

    &:hover{
        opacity: 1;
    }
}
.header__btn {
    @include ButtonStyle($btn-w:173px,$btn-py:15px,$btn-bg-clr:$pink-clr,$btn-bg-radius:26px, $btn-border-clr:transparent, $btn-fs:15px, $btn-fw:700, $btn-lh:17px, $btn-clr:$text-clr, $btn-case:unset) 
}
.header__hamburger-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
}


@media (max-width:900px){
    .site-header{
        padding: 40px 0 48px;
    }
    .header__logo-img{
        width: 153px;
        height: 38px;
    }
}

@media (max-width:718px){
    .site-header{
        padding: 40px 0 32px;
    }
    .header__list, .header__btn{
        display: none;
    }
    .header__hamburger-btn{
        display: block;
    }
}