.hero-section {
    padding-bottom: 75px;
}
.hero {
    @include display($items:center, $space:start, $gap:206px);

}
.hero__content-wrapper {
    width: 546px;
}
.hero__title {
    @include textStyle($FS:72px, $FW:400, $LH:72px, $CLR:$title-clr, $CASE:inherit, $MB:21px);
}
.hero__form {
    width: 445px;
    margin-bottom: 16px;
}
.form__label {
    width: 100%;
    position: relative;
}
.form__input {
    width: 100%;
    padding: 15px 180px 15px 27px;
    box-shadow: 10px 10px 25px -10px #36536B40;
    border-radius: 24px;
    outline: none;
    border: none;
    @include textStyle($FS:15px, $FW:700, $LH:17px, $CLR:$title-clr, $CASE:inherit, $MB:0px);

    &::placeholder{
        opacity: 70%;
    }


    &:focus{
        box-shadow: 0 0 5px 1px #36536B40;
    }
}
.form__btn {
    position: absolute;
    right: 0;
    @include ButtonStyle($btn-w:173px,$btn-py:14px,$btn-bg-clr:$pink-clr,$btn-bg-radius:26px, $btn-border-clr:transparent, $btn-fs:15px, $btn-fw:700, $btn-lh:17px, $btn-clr:$text-clr, $btn-case:unset) 
    
}
.hero__bottom-text {
    margin-left: 27px;
    @include textStyle($FS:15px, $FW:400, $LH:17px, $CLR:#6C8294, $CASE:inherit, $MB:0px);
}
.hero__bottom-text-link {
    margin-left: 0;
    @include textStyle($FS:15px, $FW:700, $LH:17px, $CLR:#6C8294, $CASE:inherit, $MB:0px);
}




@media (max-width:936px){
    .hero{
        @include display($items:center, $space:start, $gap:206px);
    }
}

@media (max-width:855px){
    .hero{
        @include display($items:center, $space:space-between, $gap:48px);
        flex-direction: column-reverse;
        text-align: center;
    }
    .hero__img{
        width: 159px;
        height: 300px;
    }
    .hero__content-wrapper{
        width: 90%;
    }
    .hero__title{
        @include textStyle($FS:48px, $FW:400, $LH:56px, $CLR:$title-clr, $CASE:inherit, $MB:22px);
    }
    .hero__form{
        margin: 0 auto;
        margin-bottom: 16px;
    }
}


// ------mobile--------------------

@media (max-width:583px){
    .hero-section{
        padding-bottom: 80px;
    }
    .hero{
        @include display($items:center, $space:space-between, $gap:24px);
    }
    .hero__img{
        width: 127px;
        height: 239px;
    }
    .hero__content-wrapper{
        width: 100%;
    }
    .hero__title{
        @include textStyle($FS:32px, $FW:400, $LH:36px, $CLR:$title-clr, $CASE:inherit, $MB:24px);
    }
    .hero__form{
        width: 100%;
        margin: 0 auto;
        margin-bottom: 16px;
    }
    .form__label{
        @include display($items:start, $space:start, $gap:16px);
        flex-direction: column;
    }
    .form__input{
        padding-right: 5px;
    }
    .form__btn{
        position: static;
        @include ButtonStyle($btn-w:100%, $btn-py:14px, $btn-bg-clr:$pink-clr, $btn-bg-radius:26px, $btn-border-clr:transparent, $btn-fs:15px, $btn-fw:700, $btn-lh:17px, $btn-clr:$text-clr, $btn-case:unset)  
    }
}